:root{
    --primary-color:#1a2232;
    --secendry-color:#1da1f2;
}
.app{
    background-color: var(--primary-color);
    color: var(--secendry-color);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.adminHome .logo,.adminHome .menu,.adminHome .btns{
    position: relative;
}
.adminHome .logo:hover:before,.adminHome .menu:hover:before,.adminHome .btns:hover:before  {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(https://cdn-icons-png.flaticon.com/512/1160/1160758.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 30%;
    top: 50%;
    transform: translate(50%,-50%);
    cursor: pointer;
}
.adminHome .logo:hover,.adminHome .menu:hover,.adminHome .btns:hover{
    cursor: pointer;
}
.adminHome .menu a,.adminHome .btns a{
    pointer-events: none;

}
.edit{
    width: 20%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;    
    padding-top: 15px;

}
.edit >div{
    width: 100%;
}
.logoImg{
    max-width: 100%;
    min-width: 1%;
}
label.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.css-sghohy-MuiButtonBase-root-MuiButton-root{
    width: 100%;
    flex-direction: column-reverse;
    margin: 20px 0 0 0;
    background: transparent;
    box-shadow: unset;
    gap: 15px;
}
span.MuiButton-startIcon.MuiButton-iconSizeMedium.css-1d6wzja-MuiButton-startIcon {
    margin: 0;
    width: 100%;
    background: #1976d2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.MuiBox-root.css-1n3h4wo{
    width: 100% ;
}
.menuItem{
    border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all .6s ease;
  margin-top: 10px;
  cursor: pointer;
}
.menuItem:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
  }
  
  .menuItem:focus,button:active {
    opacity: .85;
    box-shadow: none;
  }
  
.hidden{
    display: none;
}
.failed input,.failed label {
 width: 100%;
 margin-top: 10px;
}